@page
@model WebApp_UnderTheHood.Pages.Account.LoginModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="fomr-group row">
            <div class="col-2">
                <label asp-for="Credential.UserName"></label>
            </div>
            <div class="col-5">

            </div>
        </div>
    </form>
</div>
